<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET" />
 <uses-feature android:glEsVersion="0x00020000" android:required="true" />
 <application android:allowBackup="false" android:usesCleartextTraffic="false" android:extractNativeLibs="true">
  <activity android:name="org.earthbound.companion.GameActivity" android:screenOrientation="sensorLandscape" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|navigation|density" android:exported="false" />
 </application>
</manifest>
